body {
    line-height: 20px;
}
h2,
h4,
h5,
.details-container,
.user-form {
    padding: 0 20px;
}
h2 .btn {
    margin-top: -10px;
}
h4 {
    text-decoration: underline;
    line-height: 25px;
    font-size: 18px;
    color: #08b4df;
}
.row {
    margin: 20px 0;
}
form {
    margin-left: 20px;
}
form.user-form {
    margin-top: -45px;
}
form > input {
    margin-left: 20px !important;
}
.separator {
    width: 100%;
    margin: 20px 0;
    border: 1px dotted #ccc;
}
.tile {
    width: 60%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    background: #eee;
    padding: 15px;
    color: #000;
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
}
.tile.active {
    color: #fff;
    background: #8fc73d;
}
.tile .title {
    text-decoration: underline;
}


/** CSS for charts **/
#bar-chart {
    padding: 50px;
}
.bar:nth-child(even) {
    fill: #5F9F9F;
}

.bar:nth-child(odd) {
    fill: #D1EEEE;
}

.bar:hover {
    fill: #FFA500;
}
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}


/** tooltip css **/
.d3-tip span {
    color: #ff00c7;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

/** CSS for gallery page **/
.gallery li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    margin: 0 0%;
    border: 1px dashed #eee;
}
.pod .pod-content {
    margin: 15px;
}
.pod .pod-image {
    margin: 10px auto 0 auto;
    text-align: center;
}
